<!DOCTYPE html>
<html ng-app="demoApp">

  <head>
    <meta charset="utf-8" />
    <title>Xebia Angular TA</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <link data-require="bootstrap-css@*" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
    <script data-require="jquery@2.2.0" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script src="script.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
  </head>

  <body>
    <div role="main" class="container theme-showcase">
      <div class="" style="margin-top:10px;">
        <div class="col-lg-8">
          <div class="page-header">
            <h2 id="tables">Xebia Angular TA</h2>
          </div>
          <div class="bs-component" ng-controller="SimpleController">
            <form class="form-inline">
              <div class="form-group">
                <md-input-container>
                  <label>Search</label>
                  <input ng-model="search">
                </md-input-container>
                <!-- <label>Search</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search"> -->
              </div>
            </form>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="sort">Id <span class="glyphicon sort-icon" 
                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                  <th>Caps</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cust in filteredCustomers|orderBy:sortKey:reverse|filter:search">
                  <td ng-click="updateData(cust.id)">{{cust.id}}</td>
                  <td>{{cust.name}}</td>
                  <td>{{cust.qty}}</td>
                  <td>{{cust.price|currency}}</td>
                  <td>
                    <md-button class="md-primary md-raised" ng-click="showAdvanced($event, cust.id, cust.name, cust.qty, cust.price)">
                      Edit
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="container">
              <!-- pagination section -->
              <div class="container">
                <div class="row" data-ng-show="customers.length == 0">
                  <div class="col-span-12">
                    No results found
                  </div>
                </div>
                <div class="row" data-ng-show="customers.length > 0">
                  <div class="col-span-12">
                    <uib-pagination ng-model="currentPage" total-items="customers.length" max-size="maxSize"
                      items-per-page="numPerPage" boundary-links="true"></uib-pagination>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="status" id="status">
              <b layout="row" layout-align="center center" class="md-padding">
                {{status}}
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>

</html>
